/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

html,
body,
#root {
  height: 100%;
}

iframe {
  display: none;
}

.border-radius-10 {
  border-radius: 10px 10px 10px 10px;
}

.text-align-center{
  text-align: center;
}

.overflow-x-none {
  overflow-x: hidden;
}

.c-pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
}
